@charset "UTF-8";

input[type="text"],
input[type="password"] {
  border: 1px solid var(--line);
  border-radius: 5px;
  padding: 2px 10px;
  color: var(--text);
  font-family: "Noto Sans", sans-serif;
  font-size: .8rem;
  line-height: calc(1.5rem - 4px - 2px);
}

input[type="password"] {
  width: calc(100% - 22px);
}

input[type="button"] {
  border: 1px solid var(--line);
  border-radius: 5px;
  padding: 0 10px 0 35px;
  width: auto;
  background-color: var(--colorGreyLight);
  background-image: url(../img/button-yes.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  color: var(--text);
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: calc(1.5rem - 2px);
}

input[type="button"]:disabled {
  color: var(--textGrey);
  background-image: url(../img/button-yes-grey.svg);
  pointer-events: none;
}

input[type="button"][value="Exportieren"] {
  background-image: url(../img/export.svg);
}

input[type="button"][value="Importieren"] {
  background-image: url(../img/import.svg);
}

input[type="button"][value="Konfiguration"] {
  background-image: url(../img/preferences.svg);
}

input[type="button"][value$="Laden"] {
  background-image: url(../img/open-file.svg);
}

input[type="button"][value="Löschen"] {
  background-image: url(../img/cleanup.svg);
}

input[type="button"][value="Nein"] {
  background-image: url(../img/button-no.svg);
}

input[type="button"][value="Suchen"] {
  background-image: url(../img/search.svg);
}

input[type="button"][value$="Transformieren"] {
  background-image: url(../img/transform.svg);
}

input[type="button"][value="Vorschau"] {
  background-image: url(../img/preview.svg);
}

label + input[type="text"] {
  margin-left: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="button"]:focus {
  outline: 1px solid var(--outline);
  outline-offset: 0;
  border-color: var(--outline);
}

input[type="button"]:active {
  position: relative;
  top: 1px;
  left: 1px;
}

label {
  display: inline-block;
  font-style: italic;
}

input[type="text"] + label {
  margin-left: 10px;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
  box-sizing: content-box;
  border: 1px solid var(--line);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #fff;
}

input[type="radio"] {
  border-radius: 10px;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  background-color: var(--colorGreyLight);
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: " ";
  position: absolute;
  top: 3px;
  left: 3px;
  display: none;
  border-radius: 5px;
  width: 14px;
  height: 14px;
  background-color: var(--colorBlueDark);
}

input[type="radio"]::before {
  border-radius: 7px;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  display: block;
}

input[type="checkbox"]:disabled::before,
input[type="radio"]:disabled::before {
  background-color: var(--colorGrey);
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: 1px solid var(--outline);
  outline-offset: 0;
  border-color: var(--outline);
}

input[type="checkbox"]:focus::before,
input[type="radio"]:focus::before {
  background-color: var(--outline);
}

:is(input[type="checkbox"], input[type="radio"]):disabled + label {
  color: var(--textGreyLight);
}
