@charset "UTF-8";

@import url(../animations.css);
@import url(../global.css);
@import url(../overlay.css);
@import url(../variables.css);


/* HEADER --------------------------------------- */

header {
  padding: 15px 10px;
  background: var(--gradient);
}

header div {
  margin: 0 auto;
  width: max-content;
}

header a {
  display: inline-block;
  margin: 0 10px;
  width: 48px;
  height: 48px;
}

header a:focus {
  outline: 2px solid var(--outline);
  border-radius: 5px;
}

header a img {
  vertical-align: top;
}
