@charset "utf-8";

/* PASSIVE FEEDBACK ----------------------------- */

.feedback {
	position: fixed;
	top: 25%;
	left: 50%;
	z-index: 1;
	transform: translateX(-50%);
	opacity: 0;
	border-radius: 10px;
	width: 96px;
	height: 96px;
	background-color: rgba(255, 255, 255, .9);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 96px 96px;
	transition: opacity .3s ease-out;
}

.feedback.visible {
	opacity: 1;
}

.feedback.type-copied {
	background-image: url(../../img/app/edit-copy.svg);
}

.feedback.type-error {
	background-image: url(../../img/app/button-no.svg);
}

.feedback.type-okay {
	background-image: url(../../img/app/button-yes.svg);
}

.feedback.type-reached-bottom {
	background-image: url(../../img/app/reached-bottom.svg);
}

.feedback.type-reached-top {
	background-image: url(../../img/app/reached-top.svg);
}


/* HIGHLIGHT BLOCK ------------------------------ */

@keyframes highlight-block {
	25% {
		outline-color: var(--outline);
	}
	75% {
		outline-color: var(--outline);
	}
	100% {
		outline-color: transparent;
	}
}

.highlight-block {
	animation-name: highlight-block;
	animation-duration: 2s;
	animation-timing-function: linear;
}


/* ROTATION ------------------------------------- */

@keyframes rotation {
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rotate {
	animation-name: rotation;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
