@charset "utf-8";

/* FONTS ---------------------------------------- */

@font-face {
	font-family: "Noto Sans";
	src: url(../../fonts/NotoSans-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "Noto Sans";
	src: url(../../fonts/NotoSans-Italic.woff2) format("woff2");
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url(../../fonts/NotoSans-Bold.woff2) format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: "Noto Sans";
	src: url(../../fonts/NotoSans-BoldItalic.woff2) format("woff2");
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: "Noto Serif";
	src: url(../../fonts/NotoSerif-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "Noto Serif";
	src: url(../../fonts/NotoSerif-Italic.woff2) format("woff2");
	font-style: italic;
}

@font-face {
	font-family: "Noto Serif";
	src: url(../../fonts/NotoSerif-Bold.woff2) format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: "Noto Serif";
	src: url(../../fonts/NotoSerif-BoldItalic.woff2) format("woff2");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url(../../fonts/NotoSansMono-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url(../../fonts/NotoSansMono-Bold.woff2) format("woff2");
	font-weight: bold;
}


/* ELEMENTS ------------------------------------- */

body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #fff;
	color: var(--text);
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	user-select: none;
}

body.scrollable {
	overflow-y: unset;
}

a {
	color: var(--textLink);
	cursor: default;
}

a.icon {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
}

a.icon:focus {
	outline: 2px solid var(--outline);
	outline-offset: 0;
	border-radius: 5px;
}

a.overlay-close:focus {
	outline: 2px solid var(--outline);
	outline-offset: -5px;
	border-radius: 10px;
}

p {
	margin: 10px;
}

p.buttons {
	margin-top: 20px;
	text-align: center;
}


/* TOOLTIP -------------------------------------- */

#tooltip {
	position: fixed;
	opacity: 0;
	box-shadow: var(--shadow);
	border-radius: 5px;
	padding: 5px 10px;
	max-width: 250px;
	background-color: var(--bgGreyDark);
	color: #fff;
	font-size: .75rem;
	line-height: 1rem;
	transition: opacity .1s linear;
}

#tooltip.visible {
	opacity: 1;
}


/* MISCELLANEOUS -------------------------------- */

#loading {
	background-color: var(--bgGreyDark);
}

#loading img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.off {
	display: none !important;
}

.warn {
	color: var(--colorRed);
}

::placeholder {
  color: var(--textGreyLight);
	font-style: italic;
}

::selection {
	background-color: var(--selection);
	color: #fff;
}
