@charset "utf-8";

/* FONTS ---------------------------------------- */

@font-face {
  font-family: "Noto Sans";
  src: url(../../fonts/NotoSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Sans";
  src: url(../../fonts/NotoSans-Italic.woff2) format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../../fonts/NotoSans-Bold.woff2) format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../../fonts/NotoSans-BoldItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif-Italic.woff2) format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif-Bold.woff2) format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif-BoldItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Noto Sans Mono";
  src: url(../../fonts/NotoSansMono-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Sans Mono";
  src: url(../../fonts/NotoSansMono-Bold.woff2) format("woff2");
  font-weight: bold;
}


/* ELEMENTS ------------------------------------- */

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fff;
  color: var(--text);
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  user-select: none;
}

.scrollable {
  overflow-y: auto;
}

a {
  color: var(--colorBlue);
  cursor: default;
  -webkit-user-drag: none;
  user-drag: none;
}

a.icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
}

a.icon:focus {
  outline: 2px solid var(--outline);
  outline-offset: 0;
  border-radius: 5px;
}

a.overlay-close:focus {
  outline: 2px solid var(--outline);
  outline-offset: -5px;
  border-radius: 10px;
}

a[href^="http"]::after {
  content: "";
  margin-left: 5px;
  padding-right: 24px;
  background-image: url(../../img/win/external-link.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer a[href^="http"]::after {
  background-image: url(../../img/win/external-link-white.svg);
}

code {
  display: block;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--colorGreyLight);
  font-family: "Noto Sans Mono", monospace;
  font-size: .8rem;
  line-height: 1.2rem;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

p {
  margin: 10px;
}

p.buttons {
  margin-top: 20px;
  text-align: center;
}


/* TOOLTIP -------------------------------------- */

#tooltip {
  position: fixed;
  opacity: 0;
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 250px;
  background-color: var(--colorGreyDark);
  color: #fff;
  font-size: .75rem;
  line-height: 1rem;
  transition: opacity .1s linear;
}

#tooltip.wide {
  max-width: 450px;
}

#tooltip p {
  margin: 0 0 10px;
}

#tooltip p:last-child {
  margin: 0;
}

#tooltip .example {
  display: block;
  margin-left: 20px;
}


/* MARKS ---------------------------------------- */

mark {
  border-radius: 5px;
  background-color: var(--colorYellow);
  color: var(--text);
  font-weight: bold;
}

.color2 {
  background-color: var(--colorGreen);
  color: #fff;
}

.color3 {
  background-color: var(--colorBlueDark);
  color: #fff;
}

.color4 {
  background-color: var(--colorRed);
  color: #fff;
}

.color5 {
  background-color: var(--colorBlueLight);
  color: #fff;
}

.color6 {
  background-color: var(--colorCyan);
  color: #fff;
}

.no-start {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.no-end {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


/* MISCELLANEOUS -------------------------------- */

#loading {
  z-index: 1000;
  background-color: var(--colorGreyDark);
}

#loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.off {
  /* declaration is used for elements with high specificity */
  display: none !important;
}

.visible {
  /* declaration ist used for elements with high specificity */
  opacity: 1 !important;
}

.warn {
  color: var(--colorRed);
}

.xml-tag {
  color: var(--colorBlueDark);
}

.xml-attr-key {
  color: var(--colorGreen);
}

.xml-attr-val {
  color: var(--colorRed);
}

.xml-comment,
.xml-comment :is(.xml-tag, .xml-attr-key, .xml-attr-val) {
  color: var(--textGrey);
}

::placeholder {
  color: var(--textGreyLight);
  font-style: italic;
}

::selection {
  background-color: var(--colorBlueDark);
  color: #fff;
}
