@charset "utf-8";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(33 37 41 / 50%);
  backdrop-filter: blur(5px);
  transition: opacity .3s ease-out;
}

.overlay.hide {
  opacity: 0;
}

.overlay > div {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-right: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  border-left: 1px solid var(--line);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 450px;
  max-width: 90%;
  background-color: #fff;
}

.overlay h1 {
  position: relative;
  margin: 0 -1px;
  padding: 5px 10px;
  background: var(--gradient);
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: .75rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1rem;
}

.overlay h1 a {
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  height: 30px;
}

.overlay :where(h2, h3) {
  margin: 20px 10px 10px;
  color: var(--colorBlueDark);
  font-size: .9rem;
  font-weight: bold;
  line-height: 1.35rem;
}

.overlay :where(h2:first-child, h3:first-child) {
  margin-top: 0;
}

.overlay h3 {
  font-size: .8rem;
  line-height: 1.2rem;
}


/* DIALOG --------------------------------------- */

#dialog.overlay > div {
  top: 80px;
  border-radius: 10px;
  padding-left: 82px;
  background-image: url(../../img/win/dialog-alert.svg);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 72px 72px;
}

#dialog.code > div {
  width: 700px;
}

#dialog[data-type="confirm"].overlay > div {
  background-image: url(../../img/win/dialog-confirm.svg);
}

#dialog > div > a {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

#dialog[data-type="alert"] #dialog-confirm,
#dialog[data-type="pass"] #dialog-confirm,
#dialog[data-type="confirm"] #dialog-alert {
  display: none;
}

#dialog-confirm input {
  width: 95px;
}

#dialog-confirm input:first-child {
  margin-right: 15px;
}

#dialog-text p:first-child {
  margin-right: 30px;
}

#dialog-text .update {
  display: inline-block;
  width: 95px;
  font-style: italic;
}

#dialog.code #dialog-text p {
  margin-right: 30px;
  padding: 10px;
  background-color: var(--colorGreyLight);
  font-family: "Noto Sans Mono", monospace;
  font-size: .7rem;
  line-height: 1rem;
  user-select: text;
}
