@charset "utf-8";

body.scrollable {
	overflow-y: scroll;
}


/* HEADER --------------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	padding: 15px 10px;
	width: calc(100% - 20px);
	background: var(--gradient);
	color: #fff;
}

header > div {
	margin: 0 auto;
	width: max-content;
}

header #view {
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

header a {
	color: #fff;
	outline: none;
}

header a.view-button {
	display: inline-block;
	margin: 0 5px;
	border-radius: 10px;
	padding: 0 10px 0 40px;
	background-image: url(../../img/app/xml-white.svg);
	background-position: 5px 0;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	text-decoration: none;
}

header span.label + a.view-button {
	width: 50px;
}

header #view a.view-button:nth-child(3) {
	width: 86px;
}

header a.view-button.active {
	background-color: #fff;
	background-image: url(../../img/app/xml.svg);
	color: var(--text);
}

header a#view-hints.view-button {
	background-image: url(../../img/app/info-white.svg);
}

header a#view-hints.view-button.active {
	background-image: url(../../img/app/info.svg);
}

header a#view-clusters.view-button {
	background-image: url(../../img/app/clusters-white.svg);
}

header a#view-clusters.view-button.active {
	background-image: url(../../img/app/clusters.svg);
}

header a#view-search.view-button {
	background-image: url(../../img/app/search-white.svg);
}

header a#view-search.view-button.active {
	background-image: url(../../img/app/search.svg);
}

header a#fun-filters.view-button {
	background-image: url(../../img/app/filter-white.svg);
}

header a#fun-filters.view-button.active {
	background-image: url(../../img/app/filter.svg);
}

header a#fun-filters.active-filters.view-button,
header a#fun-filters.active-filters.view-button.active {
	background-color: #fff;
	background-image: url(../../img/app/filter-red.svg);
	color: var(--colorRed);
}

header a#fun-update {
	padding: 0 10px 0 0;
	width: 126px;
	background-image: none;
}

header a#fun-update img {
	vertical-align: top;
	margin: 0 5px;
}

header a.view-button:focus {
	outline: 2px solid var(--outline);
	outline-offset: 0;
}

header .label {
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
	width: 80px;
	font-size: .75rem;
	font-style: italic;
}

#fun-git {
	display: inline-block;
	margin-left: 15px
}

#fun-git-branch {
	display: inline-block;
	width: 80px;
	text-align: right;
}

#fun-git .label {
	margin-right: 15px;
	width: auto;
}

#fun-git .spacer {
	display: inline-block;
	width: 30px;
	text-align: center;
}

#fun-git a:where(:hover, :focus) {
	text-decoration: none;
}


/* SECTIONS ------------------------------------- */

section {
	position: relative;
	left: 0;
	margin: 111px auto 0 auto;
	padding: 95px 10px 15px 10px;
	max-width: 1200px;
	transition: left .3s ease-out;
}

section.trans-linear {
	transition: left .3s linear;
}


/* TOP BAR  ------------------------------------- */

#bar {
	position: fixed;
	top: 111px;
	left: 0;
	z-index: 11;
	box-shadow: var(--shadowDown);
	overflow: hidden;
	width: 100%;
	min-height: 60px;
	background-color: #fff;
	transition: height .3s ease-out;
}

#bar > div {
	position: relative;
	left: 0;
	margin: 0 auto;
	padding: 10px 0;
	height: 40px;
	width: 650px;
	white-space: nowrap;
	transition: left .3s ease-out;
}

#bar > div.trans-linear {
	transition: left .3s linear;
}

/* Sorting */

:where(#sorting, #clusters-nav) a.icon {
	margin-left: 15px;
	padding: 5px;
}

:where(#sorting, #clusters-nav) a.icon:first-child {
	margin-left: 0;
}

:where(#sorting, #clusters-nav) .active {
	border-radius: 5px;
	background-color: var(--bgActive);
}

#sorting-filter-cont {
	position: absolute;
	top: 14px;
	right: 0;
	padding: 1px;
	width: 296px;
	height: 30px;
	overflow: hidden;
}

#sorting-filter-cont #hints-bar {
	display: none;
}

#sorting-filter-cont.hints-view #hints-bar {
	display: inline-block;
}

#sorting-filter {
	vertical-align: top;
	padding-right: 34px;
	width: 250px;
}

#sorting-filter-cont.hints-view #sorting-filter {
	padding-right: 63px;
	width: 221px;
}

.clear-text-field,
#search-advanced-toggle,
#hints-bar,
#clusters-modulate-reset,
#search-bar,
#search-help {
	position: relative;
	top: 3px;
	display: inline-block;
	margin-left: -30px;
	border-radius: 5px;
	width: 24px;
	height: 24px;
}

#sorting-filter-cont.hints-view .clear-text-field {
	margin-left: -59px;
}

#clusters-modulate-form .clear-text-field {
	margin-left: -59px;
}

#hints-bar {
	margin-left: 5px;
}

.clear-text-field:focus,
#search-advanced-toggle:focus,
#hints-bar:focus,
#clusters-modulate-reset:focus,
#search-bar:focus,
#search-help:focus {
	outline: 2px solid var(--outline);
	outline-offset: -2px;
}

/* Clusters */

#clusters-nav #clusters-nav-preview {
	margin-left: 70px;
}

#clusters-nav-domain {
	position: absolute;
	top: 10px;
	right: 0;
	color: var(--colorBlueDark);
	font-size: .8rem;
	font-weight: bold;
	line-height: 2rem;
}

#clusters-nav-domain.no-domain {
	color: var(--text);
	font-style: italic;
	font-weight: normal;
}

#clusters-modulate-reset {
	margin-left: 5px;
}

/* Search Form */

#bar > div#search-form {
	padding-left: 1px; /* BUG: sonst wird der outline links um 1px abgeschnitten */
	height: auto;
}

#search-form .clear-text-field {
	top: 8px;
	margin-left: -117px;
}

#search-help,
#search-bar,
#search-advanced-toggle {
	top: 8px;
	margin-left: 5px;
}

#search-form input[type="text"] {
	position: relative;
	top: 2px;
	padding-right: 121px;
	width: calc(100% - 141px - 133px); /* 141px = button, 104px = paddings and borders */
}

#search-form input[type="button"] {
	position: relative;
	top: 3px;
	margin-left: 21px;
	width: 120px;
}

#search-advanced {
	margin: 0 auto;
	padding: 20px 10px 0 10px;
	width: min-content;
}

#search-advanced h2 {
	margin: 15px 0 5px 0;
	font-size: .8rem;
	line-height: 1.2rem;
	font-style: italic;
	font-weight: normal;
}

#search-advanced label {
	font-style: normal;
}

#search-advanced p {
	margin: 0 0 5px 0;
	width: max-content;
	font-size: .8rem;
	line-height: 1.2rem;
	white-space: nowrap;
}

#search-scope {
	columns: 3;
}


/* MISCELLANEOUS -------------------------------- */

.nothing {
	text-align: center;
}

.nothing p:first-child {
	color: var(--colorRed);
	font-weight: bold;
}

.nothing p:last-child {
	font-size: .8rem;
	line-height: 1.2rem;
}

.wait {
	margin-top: 15px;
	text-align: center;
}
