@charset "utf-8";


/* BARS ----------------------------------------- */

#filters,
#results {
	position: fixed;
	top: 111px;
	left: -285px; /* 320px bar width + 15px blur-radius of shadow */
	z-index: 11;
	box-shadow: var(--shadowRight);
	border-top: 3px solid #fff;
	padding: 10px;
	width: 250px;
	height: calc(100vh - 111px - 20px - 3px);
	background-color: var(--colorBlueDark);
	color: #fff;
	font-size: .8rem;
	line-height: 1.2rem;
	transition: left .3s ease-out;
}

#filters.visible {
	left: 0;
}

#results {
	right: -285px; /* 270px bar width + 15px blur-radius of shadow */
	left: unset;
	box-shadow: var(--shadowLeft);
	transition: right .3s ease-out;
}

#results.visible {
	right: 0;
}

:where(#filters, #results) > div {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

:where(#filters, #results) p {
	margin: 0;
}


/* FILTERS -------------------------------------- */

#filters h1 {
	position: relative;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #fff;
	padding: 0 10px;
	font-family: "Noto Serif", serif;
	font-size: 1rem;
	font-style: italic;
	font-weight: normal;
	line-height: 1.5rem;
}

#filters-reset,
#filters-hints a {
	color: #fff;
	text-decoration: underline;
}

#filters-reset:where(:focus, :hover),
#filters-hints a:where(:focus, :hover) {
	outline: none;
	text-decoration: none;
}

#filters-reset img {
	vertical-align: top;
	margin-right: 5px;
}

#filters input[id^="filters-marks"]:not(:first-child) {
	margin-left: 20px;
}

#filters label[for^="filters-marks"] img {
	vertical-align: top;
}

#filters-hints p {
	margin-bottom: 5px;
	white-space: nowrap;
}

#filters-hints p.toggle {
	margin-bottom: 10px;
	margin-left: 32px;
}

#filters-hints p.toggle a:first-child {
	margin-right: 10px;
}

#filters-hints p.toggle a:last-child {
	margin-left: 10px;
}

#filters-hints p.indent {
	margin-left: 32px;
}

#filters-hints input {
	margin-top: 1px;
	margin-left: 2px;
}


/* RESULTS -------------------------------------- */

#results p {
	margin-bottom: -4px;
	line-height: 1rem;
}

#results p b {
	font-size: 1rem;
}

#results .nothing {
	font-style: italic;
	text-align: center;
}

#results-queries,
#results-files {
	margin-top: 20px;
	border-radius: 5px;
	padding: 5px;
	background-color: #fff;
}

#results-queries {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0;
}

#results a {
	display: block;
	overflow-x: hidden;
	white-space: nowrap;
	font-size: .9rem;
	line-height: 1.35rem;
	text-overflow: ellipsis;
}

#results a:first-child {
	margin-top: 0;
}

#results-queries a {
	margin: 0 5px 5px 0;
	border-radius: 5px;
	text-decoration: none;
}

#results-queries a:focus {
	outline: 2px solid var(--outline);
	outline-offset: 0;
}

#results-queries mark {
	display: block;
	overflow-x: hidden;
	padding: 2px 5px;
	text-overflow: ellipsis;
}

#results-files a {
	position: relative;
	padding-left: 15px;
	width: calc(100% - 15px);
}

#results-files a::before {
	content: "•";
	position: absolute;
	top: 0;
	left: 0;
	color: var(--text);
}

#results-files a:where(:focus, :hover) {
	outline: none;
	text-decoration: none;
}


/* SELECT UI ------------------------------------ */

.select-cont {
	position: relative;
}

.select-filter,
.select-popup a {
	display: block;
	border: 1px solid var(--line);
	border-radius: 10px;
	padding: 2px 10px 2px 34px;
	width: max-content;
	min-width: 80px;
	background-color: var(--colorGreyLight);
	background-image: url(../../img/app/select-open.svg);
	background-position: 5px 2px;
	background-repeat: no-repeat;
	color: var(--text);
	text-decoration: none;
}

.select-filter {
	margin-left: 2px; /* otherwise, in the filters bar, the left outline would be cut off */
}

.select-filter[data-value=""] {
	font-style: italic;
}

.select-filter:focus {
	outline: 2px solid var(--outline);
	outline-offset: 0;
}

.select-filter img,
.select-popup a img {
	vertical-align: top;
	margin-left: -5px;
}

.select-popup {
	position: absolute;
	top: 36px;
	left: 2px; /* see .select-filter */
	z-index: 1;
	opacity: 1;
	border: 1px solid var(--line);
	border-radius: 10px;
	background-color: var(--colorGreyLight);
	transition: opacity .1s linear;
}

.select-popup.hide {
	opacity: 0;
}

.select-popup a {
	border-bottom: 1px solid var(--line);
	border-radius: 0;
	padding: 0 10px;
	width: auto;
	min-width: auto;
	background-image: none;
}

.select-popup a:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.select-popup a:last-child {
	border-bottom: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.select-popup a:where(:hover, :focus) {
	outline: none;
	background-color: var(--bgActive);
}
