@charset "utf-8";

/* cf. viewSearch.css */

/* ASIDE ---------------------------------------- */

.hint-item .aside {
	position: absolute;
	top: 0;
	left: 10px;
}

.hint-item .aside .line {
	color: var(--textColor);
	font-size: .9rem;
	line-height: 1.5rem;
}

.hint-item .aside .icons {
	margin-top: 5px;
	margin-left: -7px;
}

.hint-item a.icon {
	width: 36px;
	height: 36px;
}

.hint-item a.icon:last-child {
	margin-left: 5px;
}


/* HINT ----------------------------------------- */

.hint {
	margin-left: 107px;
	border-bottom: 1px solid var(--line);
	padding-bottom: 10px;
	line-height: 1.5rem;
}

.hint-item:last-child .hint {
	border-bottom: none;
	padding-bottom: 0;
}

.hint h2 {
	margin: 0;
	font-size: .9rem;
}

.hint a {
	outline: none;
	color: var(--colorRed);
	text-decoration: none;
}

.hint a:focus,
.hint a:hover {
	text-decoration: underline;
}

.hint a.comment-link {
	color: var(--textLink);
}

.hint p {
	margin: 0;
}

.hint .text-correct,
.hint .text-erroneous,
.hint .text-hint,
.hint .repeated {
	margin-top: 10px;
	padding-left: 35px;
	background-image: url(../../img/app/text-okay.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	line-height: 1.35rem;
	user-select: text;
}

.hint .text-erroneous {
	background-image: url(../../img/app/text-not-okay.svg);
}

.hint .text-hint {
	background-image: none;
}

.hint .text-correct p,
.hint .text-erroneous p,
.hint .text-hint p {
	margin-bottom: 5px;
	word-break: break-all;
}

.hint .text-correct p:last-child,
.hint .text-erroneous p:last-child,
.hint .text-hint p:last-child {
	margin-bottom: 0;
}

.hint .context {
	font-size: .7rem;
}

.hint .hint-text {
	font-style: italic;
}

.hint .repeated {
	background-image: none;
	color: var(--colorRed);
	font-style: normal;
	font-weight: bold;
	user-select: none;
}

.hint .scope {
	margin-top: 10px;
	padding-left: 35px;
	background-image: url(../../img/app/location.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	color: var(--textGrey);
}


/* COMMENT HELP --------------------------------- */

.comment-help {
	position: fixed;
	padding: 10px;
	max-width: 500px;
	border: 1px solid var(--line);
	border-radius: 10px;
	background-color: #fff;
	opacity: 0;
	transition: opacity .3s ease-out;
}

.comment-help.visible {
	opacity: 1;
}

.comment-help a {
	position: absolute;
	top: 0;
	right: 0;
}

.comment-help p {
	margin: 0 0 10px 0;
	font-size: .8rem;
	line-height: 1.2rem;
}

.comment-help p:first-child {
	margin-top: 0;
}

.comment-help code {
	margin: 0 0 10px 0;
	font-size: .7rem;
	line-height: 1.1rem;
	white-space: pre-wrap;
	word-break: break-all;
	user-select: text;
}

.comment-help code:last-child {
	margin-bottom: 0;
}
