@charset "utf-8";

#search,
#hints {
	padding-top: 80px;
}

/* RESULTS -------------------------------------- */

#search h1,
#hints h1 {
	position: sticky;
	top: 171px;
	z-index: 1;
	margin: 40px auto 0 auto;
	overflow: hidden; /* otherwise some letters (like J) overflow to the left and hence remain visible */
	padding: 15px 0 25px 0;
	width: 700px;
	max-width: 90%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60px, rgba(255, 255, 255, 0));
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.8rem;
}

#search h1:first-child,
#hints h1:first-child {
	margin-top: 0;
}

#search h1 a,
#hints h1 a {
	position: relative;
	top: 3px;
	margin-left: 10px;
	vertical-align: top;
}

.search-result,
.hint-item {
	position: relative;
	margin: 0 auto;
	outline: 2px solid transparent;
	outline-offset: 5px;
	border-radius: 10px;
	width: 700px;
	max-width: 90%;
	font-size: .9rem;
	line-height: 1.35rem;
	transition: outline-color .3s linear;
}

.hint-item {
	margin: 0 auto 40px auto;
	padding: 0 10px;
	min-height: 71px;
}

.hint-item:last-child {
	margin-bottom: 0;
}

.search-result > span {
	position: absolute;
	top: 0;
	left: 0;
	color: var(--textColor);
	font-size: .9rem;
	line-height: 1.35rem;
}

.search-result p,
.search-result code {
	margin: 0 0 10px 100px;
}

.search-result code {
	font-size: .8rem;
	line-height: 1.2rem;
}

mark {
	border-radius: 5px;
	background-color: var(--colorYellow);
	color: var(--text);
	font-weight: bold;
}

mark.color2 {
	background-color: var(--colorGreen);
	color: #fff;
}

mark.color3 {
	background-color: var(--colorBlueDark);
	color: #fff;
}

mark.color4 {
	background-color: var(--colorRed);
	color: #fff;
}

mark.color5 {
	background-color: var(--colorBlueLight);
	color: #fff;
}

mark.color6 {
	background-color: var(--colorCyan);
	color: #fff;
}

mark.no-start {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

mark.no-end {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

